.banner {
  background: #fff;
  padding: 50px 40px;
  width: 100%;
  border-bottom: 1px solid #d9d9d9;

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    .description {
      font-weight: 400;
      font-size: 14px;
      margin-top: 8px;
    }
  }
}
